/* Add CSS Styling */
p{
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.secondElement{
    color: blue;
    font-size: 36px;
}

.thirdElement{
    font-size: 24px;
}

.forthElement{
   background-color: green;
   font-size: 24px;
   font-weight: bold;
}