body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  padding: 30px;
  margin-bottom: 16px;
  margin-top: 15px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}